.chip {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 40px;
    font-size: 14px;
    color: white;
    background-color: green;
    width: moz-fit-content;
}

.chip svg {
    height: 14px;
    width: 14px;
    cursor: pointer;
}
